/* Reset de márgenes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Barra de navegación */
header {
    background-color: #000;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Contenedor de los enlaces de la barra de navegación */
nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    font-size: 20px;
    font-weight: bold;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FF9900;
}

/* Buscador */
.search-form {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-input {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.search-button {
    padding: 8px 12px;
    background-color: #FF9900;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: #FF6600;
}

/* Estilo de las películas */
.movie-card {
    margin: 20px 0;
    text-align: center;
}

.movie-card img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.movie-card img:hover {
    transform: scale(1.05);
}

.movie-card button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #FF9900;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.movie-card button:hover {
    background-color: #FF6600;
}

/* Estilo para el título del video */
h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    margin: 20px 0;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

/* Diseño móvil */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
    .movie-card {
        width: 100%;
    }
}
