/* Reset de márgenes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del cuerpo */
body {
    background-color: #121212; /* Fondo de color oscuro principal */
    color: white; /* Texto blanco por defecto */
    font-family: 'Arial', sans-serif;
    min-height: 100vh; /* Asegura que ocupe al menos la altura visible */
}


/* Barra de navegación */
header {
    background-color: #000;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Contenedor de los enlaces de la barra de navegación */
nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    font-size: 20px;
    font-weight: bold;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FF9900;
}

/* Buscador */
.search-form {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-input {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #333; /* Fondo oscuro para el input */
    color: white;
}

.search-button {
    padding: 8px 12px;
    background-color: #FF9900;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: #FF6600;
}


#inicio {
    position: relative; /* Contenedor para posicionar elementos encima */
    width: 100%;
    height: 70vh; /* Ocupa el 70% de la altura de la ventana visible */
    overflow: hidden;
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    padding: 0; /* Asegura que no haya padding que rompa el layout */
}

/* El Contenedor de Video (para que ocupe todo el espacio) */
#video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Fondo */
}

#video-player video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra todo el espacio sin distorsionarse */
}

/* Degradado Oscuro (para que el texto se vea bien sobre el video claro) */
#inicio::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Degradado de oscuro a transparente, cubriendo la parte izquierda */
    background: linear-gradient(to right, rgba(18, 18, 18, 0.9) 10%, rgba(18, 18, 18, 0) 100%);
    z-index:
